---
layout: zfday
title: Zend Framework Day
ttl: ZFDay 2014
conf_data: "Torino, 7 Feb. 2014"
cfp: false
programma: true
speaker: true
workshop: true
cfs: false
where: i3p-to
tickets: false
---

{% include section-newsletter.html %}	
{% include section-contents.html %}	

{% if page.cfp %} {% include section-cfp.html %} {% endif %}
{% if page.programma %} {% include section-programma.html %} {% endif %}
{% if page.speaker %} {% include section-speakers.html %} {% endif %}
{% if page.workshop %} {% include section-workshop.html %} {% endif %}
{% if page.tickets %} {% include section-tickets.html %} {% endif %}

{% capture place %}{{'where/'}}{{page.where}}{{'.html'}}{% endcapture %}
  
{% include places/i3p-to.html %}	
{% include section-sponsors.html %}	
