<a name="workshop"></a>
<section class="alpha_24">
  <div class="container group">
      <div class="column_8 centered">
      <h3 class="center">Workshop</h3>
      <p>
      Il 6 Febbraio si terrà un workshop introduttivo, di un'intera giornata, su Zend Framework 2 presso l'<a href="#location">I3P</a>, la stessa location dove si terrà la conferenza il giorno successivo. 
     </p>
     <p>
     Se ti stai avvicinando a Zend Framework 2 per la prima volta, oppure vuoi approfondire le tue conoscenze sulle best practice di sviluppo, il Workshop organizzato da <a href="http://www.mvlabs.it/">MV Labs</a> è ciò che fa per te! Avrai la possibilità di imparare l’utilizzo dello strumento in modo pratico, e al termine della giornata sarai in grado di avviare un progetto basato su Zend Framework 2 in autonomia.
      </p>
      <p>
      Il workshop avrà un taglio pratico e la trasmissione dei contenuti avverrà attraverso la progettazione e la stesura di codice. Dopo una panoramica sull’architettura MVC di Zend Framework 2, verranno introdotti i vari componenti. Ciascuno sarà presentato attraverso una serie di esempi, casi d’uso ed esercizi. Svilupperemo un piccolo progetto assieme, così da permetterti di comprendere meglio i concetti appena acquisiti e appronfondire la conoscenza delle best practice nell'uso dello strumento.
      </p>
      <p>
      Nello specifico, gli argomenti che tratteremo sono:
      <ul>
          <li>le basi di ZF2: l’organizzazione del filesystem, l’architettura MVC, il processo di bootstrapping e il ciclo di vita di una richiesta</li>
          <li>il livello di presentazione di ZF2: la gestione delle viste, il layout, i partial, i view helper</li>
          <li>la nuova architettura modulare di ZF2 e la filosofia alle sue spalle</li>
          <li>la modellazione della business logic con i servizi, il service manager, i mapper e la persistenza su database</li>
          <li>la gestione delle form e della relativa validazione</li>
          <li>i principi di base per la creazione di web service e i fondamenti di Apigility</li>
      </ul>
      </p>
      <p>
      Il workshop sarà tenuto da <a href="http://www.mvassociati.it/it/il-team">Steve Maraspin</a> e <a href="http://www.mvassociati.it/it/il-team">Stefano Valle</a> di MV Labs. 
      </p>
      <p style="font-size:12px">
      <i>Informazioni aggiuntive</i>:<br />
      - Il workshop è rivolto agli sviluppatori PHP che già conoscono i fondamenti alla base dello sviluppo orientato agli oggetti. La conoscenza pregressa del pattern MVC e delle funzionalità specifiche di PHP 5.3 come namespace e funzioni anonime è utile ma non necessaria.<br />
      - Per massimizzare l’apprendimento, ti consigliamo di portare il tuo portatile. Prima dell'inizio del corso renderemo disponibili le istruzioni per il setup di una macchina virtuale che utilizzeremo come sandbox per lo sviluppo degli esercizi pratici previsti per la giornata.
      </p>
      <p><a href="#tickets">Clicca qui</a> per iscriverti al workshop.</p>
  </div>
  </div>

  <div class="separator"></div>
</section>
