<a name="speaker"></a>
<section class="alpha_24">
  <div class="container group">
  	<div class="column_8 centered">
  		<a name="arbezzano">
      <h3 class="center">Speaker</h3>
  		<table id="speakers" border="0" cellspacing="0" cellpadding="0">
      	<tr>
          	<td width="200px"><img class="circular" src="/img/speakers/arbezzano.png" title="Gianluca Arbezzano" alt="Gianluca Arbezzano"></td>
          	<td>
          		<h5>Gianluca Arbezzano</h5>
          		<p>Nato a Torino nel 1992, sono entrato nell'ecosistema PHP grazie al PUG Torino, attualmente vivo e lavoro a Milano come Software Engineer. Innamorato dell'automazione e FOSS dipendente. Alla costante ricerca di buone pratiche per migliorare la qualità del mio lavoro attraverso il confronto e la condivisione delle proprie esperienze.</p>
          		<a name="contavalli">
          	</td>
      	</tr>
      	<tr>
          	<td width="200px"><img class="circular" src="/img/speakers/contavalli.png" title="David Contavalli" alt="David Contavalli"></td>
          	<td>
          		<h5>David Contavalli</h5>
          		<p>Avvicinatosi a Zend Framework dopo la scorsa edizione dello Zend Framework Day, sviluppa in PHP da quasi un decennio. Collabora con MV Labs come sviluppatore, seguendo il Behavioural Driven Development, ed è un proselita del Clean Code movement, interessato alle architetture enterprise. </p>
					<a name="dalmut">
          	</td>
      	</tr>
      	<tr>
          	<td width="200px"><img class="circular" src="/img/speakers/dalmut.png" title="Walter Dal Mut" alt="Walter Dal Mut"></td>
          	<td>
          		<h5>Walter Dal Mut</h5>
          		<p>Laureato in Ingegneria Elettronica al Politecnico di Torino, Walter è dal 2008 consulente nel campo IT ed ha una vera passione per la programmazione. Con questa come motrice, diventa co-founder della sua prima startup, orientata al mondo del Cloud Computing: Corley S.r.l. 
Successivamente, si sposta nel Regno Unito, dove, selezionati tra i migliori 7 progetti innovativi, è co-founder di una seconda startup, questa volta UpCloo Ltd. che ottiene 2 investimenti in meno di un anno.</p>
					<a name="maraspin">
          	</td>
      	</tr>
      	<tr>
          	<td width="200px"><img class="circular" src="/img/speakers/maraspin.png" title="Stefano Maraspin" alt="Stefano Maraspin"></td>
          	<td>
          		<h5>Stefano Maraspin</h5>
          		<p>Lavora su applicazioni enterprise dal 1999. Suo interesse principale è lo sviluppo software incentrato sull’utente. E' ZCE e ha tenuto lezioni, seminari e consulenze presso enti di ricerca e aziende, sia pubbliche che private, in Italia e all’estero. E’ tra i fondatori del PUG Friuli, oltre che fondatore e managing partner di MV Labs. </p>
					<a name="valle">
          	</td>
      	</tr>
      	<tr>
          	<td width="200px"><img class="circular" src="/img/speakers/valle.png" title="Stefano Valle" alt="Stefano Valle"></td>
          	<td>
          		<h5>Stefano Valle</h5>
          		<p>Lavora come ingegnere software dal 2000, facendo oggi tesoro dell'esperienza maturata come sviluppattore, soprattutto negli ambiti del turismo e dell'intrattenimento. E' Certificato Zend PHP 5.3 e si occupa di architetture enterprise presso MV Labs, di cui è fondatore e partner. E' anche fondatore del PHP Friuli User Group.</p>
					<a name="zimuel">
          	</td>
      	</tr>
      	<tr>
          	<td width="200px"><img class="circular" src="/img/speakers/zimuel.png" title="Enrico Zimuel" alt="Enrico Zimuel"></td>
          	<td>
          		<h5>Enrico Zimuel</h5>
          		<p>Sviluppatore dal 1996, lavora come Senior PHP Engineer per la Zend Technologies di Cupertino (California), nel team di sviluppo di Zend Framework e Apigility. E' speaker di conferenze internazionali sul tema dello sviluppo software. E' autore di articoli e libri come PHP Best Practices e Javascript Best Practices, FAG edizioni. Fondatore del PUG Torino è laureato in Economia Informatica presso l'Università di Chieti - Pescara.</p>
          	</td>
      	</tr>
   	</table>
	  </div>
	</div>

  <div class="separator"></div>
</section>
