<a name="info"></a>
<section class="alpha_24">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>

    <p><strong><a href="http://framework.zend.com">Zend Framework</a> &egrave; uno dei framework PHP pi&ugrave; apprezzati sul mercato per lo sviluppo di applicazioni web.</strong></p>

    <p>Lo Zend Framework &egrave; diventato il riferimento per quanto riguarda lo sviluppo di applicazioni web con PHP e molti software open source e commerciali, come <a href="http://magento.com/">Magento</a>, <a href="http://www.apigility.org">Apigility</a>, <a href="http://www.pimcore.org/">Pimcore</a>, <a href="http://www.centurion-project.org/">Centurion</a>, <a href="http://piwik.org/">Piwik</a> e molti altri progetti lo utilizzano al loro interno.</p>

    <p>Lo Zend Framework Day &egrave; l'evento italiano di riferimento su Zend Framework che introduce le novità, le best practice, e casi di studio su diversi ambiti applicativi con i migliori professionisti del web in Italia.
    </p>
	<p>Rimani informato ed <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra newsletter</a></p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
