<a name="info"></a>
<section class="alpha_14">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>

    <p><strong>Zend Framework &egrave; uno dei framework PHP pi&ugrave; apprezzati sul mercato.</strong></p>

    <p>Lo Zend Framework &egrave; diventato il riferimento per quanto riguarda lo sviluppo ad alto livello con PHP e molti software open source e commerciali, come Magento, Piwik e molti altri progetti lo utilizzano al loro interno.</p>

    <p>Lo Zend Framework Day &egrave; l'evento di riferimento su Zend Framework che introduce le best practice e ne mostra case study ad alto livello.
    </p>
	<p>Rimani informato ed <a href="http://eepurl.com/rCZZT" target="_blank">iscriviti alla nostra newsletter</a></p>
  </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>